<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" src="../static/jquery.js"></script>
    <script language="JavaScript" src="../static/go-debug.js"></script>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>
    <div id="div1">
        <div id="div2" class="part">
            <form id="form" method="post">
                <input id="file" type="file" name="file">
                <input id="upload" type="button" onclick="send()" value="提交配置文件">
            </form>
            <input  id="clear" type="button" onclick="clearConf()" value="清空">
            <input  id="save" type="button" onclick="saveConf()" value="保存">
             <input id="test" type="button" onclick="sendTestFile()" value="提交校验文件">
            <textarea id="fileContent"></textarea>
        </div>

        <div id="div3" class="part"></div>

        <div id="div4" class="part">
            <div id="divRouterInfo">
                <h1 id="routerID">Router</h1>
                <table id="routerInfo" border="1">
                    <tr>
                        <th>PORT</th>
                        <th>IP</th>
                        <th>STATUS</th>
                    </tr>
                    <tr>
                        <td>f0/0</td>
                        <td>172.16.1.1</td>
                        <td>up</td>
                    </tr>
                    <tr>
                        <td>f0/0</td>
                        <td>unassigned</td>
                        <td>down</td>
                    </tr>
                </table>
            </div>

            <div id="divInteract">
                <h2>命令交互</h2>
                <input id="cmd" name="command">
                <input id="execute" type="button" onclick="executeCMD()" value="执行">
            </div>

            <div id="divDetailInfo">
                <textarea id="detailInfo"></textarea>
            </div>
        </div>
    </div>


<script type="text/javascript">
    // 初始化网络拓扑结构，包含：定义节点模板，节点的数据结构
    var GO = go.GraphObject.make;
    var myDiagram =
        GO(go.Diagram, "div3",
          {
            "undoManager.isEnabled": true // enable Ctrl-Z to undo and Ctrl-Y to redo
        });
    // define a simple Node template
    myDiagram.nodeTemplate =
        GO(go.Node, "Vertical",
          // the entire node will have a light-blue background
          { background: "#44CCFF" },
          GO(go.Picture,
            // Pictures should normally have an explicit width and height.
            // This picture has a red background, only visible when there is no source set
            // or when the image is partially transparent.
            { margin: 2, width: 50, height: 50},
            // Picture.source is data bound to the "source" attribute of the model data
            new go.Binding("source")),
          GO(go.TextBlock,
            "Default Text",  // the initial value for TextBlock.text
            // some room around the text, a larger font, and a white stroke:
            { margin: 2, stroke: "white", font: "bold 16px sans-serif" },
            // TextBlock.text is data bound to the "name" attribute of the model data
            new go.Binding("text", "name"))
         );
    var model = GO(go.GraphLinksModel);
    model.nodeDataArray = [
        {#{ key: "RouterA", name: "RouterA", ports: [], source: "../static/router.png" },#}
        {#{ key: "RouterB", name: "RouterB", ports: [], source: "../static/router.png" },#}
        {#{ key: "RouterC", name: "RouterC", ports: [], source: "../static/router.png" }#}
    ];
    myDiagram.model = model;

    myDiagram.addDiagramListener("ObjectSingleClicked",
        function (e){
            console.log("clickEvent triggered")
            var part = e.subject.part;
            console.log(part.data)
            // 更新div4中的信息
            if(part instanceof go.Node){
                // 更新路由器信息
                console.log('node clicked')
                updateNodeDisplayInfo(part.data)
            }else if(part instanceof go.Link){
                // 更新链路信息
                console.log('link clicked')
                updateLinkDisplayInfo(part.data)
            }
        }
    )

    function updateNodeDisplayInfo(data){
        let str = "<tr><th>PORT</th><th>IP</th><th>STATUS</th></tr>";
        let routerName = data.name;
        let ports = data.ports;
        for(let i = 0; i < ports.length; i++){
            let portName = ports[i].name;
            let portIP = ports[i].ip;
            let portStatus = ports[i].status;
            str += "<tr>"
                + "<td>" + portName + "</td>"
                + "<td>" + portIP + "</td>"
                + "<td>" + portStatus + "</td>"
                + "</tr>"
        }
        $("#routerID").html(routerName)
        $("#routerInfo").html(str);
    }

    function updateLinkDisplayInfo(data){
        let str = "<tr><th>Router</th><th>PORT</th><th>IP</th></tr>";
        let fromInfo = data.fromInfo;
        let toInfo = data.toInfo;

        str += "<tr>"
            + "<td>" + fromInfo.name + "</td>"
            + "<td>" + fromInfo.port + "</td>"
            + "<td>" + fromInfo.portIP + "</td>"
            + "</tr>"
            + "<tr>"
            + "<td>" + toInfo.name + "</td>"
            + "<td>" + toInfo.port + "</td>"
            + "<td>" + toInfo.portIP + "</td>"
            + "</tr>"

        $("#routerInfo").html(str);
    }


    // 从绝对路径中提取文件名
    function getFileName(o){
        var pos = o.lastIndexOf("\\");
        return o.substring(pos+1);
    }

    {#
    功能：获取配置文件内容
    发送：文件名
    接受：配置文件内容
    #}
    document.getElementById("file").addEventListener("change", function (){
        var file = $("#file").val();
        let fileName = getFileName(file);
        console.log(file);
        console.log(fileName);
        $.ajax({
                type: "POST",
                url:"/file",
                data: {fileName: fileName},
                success: function (data) {
                    $("#fileContent").val(data)
                },
                error: function () {
                    alert("error")
                }
            });
    })

    {#
    功能：根据修改后的文件内容搭建网络拓扑
    发送：修改后的配置文件内容
    接受：在div2中搭建网络拓扑
    #}
    function send(){
        let content = $("#fileContent").val()
        console.log(content)
        $.ajax({
                type: "POST",
                url:"/send",
                data: {content: content},
                success: function (data) {
                    console.log(typeof data)
                    console.log(data)
                    // 添加路由器
                    for (let i = 0; i < data.routerInfo.length; i++){
                        let info = data.routerInfo[i];
                        let name = info.name;
                        let ports = info.ports;
                        newData = {key: name, name: name, ports: ports, source: "../static/router.png"}
                        myDiagram.model.addNodeData(newData)
                    }

                    // 添加路由器之间的连线
                    for (let i = 0; i < data.connection.length; i++){
                        let info = data.connection[i];
                        let fromInfo = info["from"]
                        let toInfo = info["to"]
                        myDiagram.model.addLinkData({"from": fromInfo["name"], "to": toInfo["name"], "fromInfo": fromInfo, "toInfo": toInfo});
                    }
                },
                error: function () {
                    alert("error")
                }
            });
    }

    function sendTestFile(){
        let content = $("#fileContent").val()
        console.log(content)
        $.ajax({
                type: "POST",
                url:"/test",
                data: {content: content},
                success: function () {
                    console.log('success')
                },
                error: function () {
                    alert("error")
                }
            });
    }

    {#
    功能：将前端的命令发送给后端执行
    发送：命令
    接受：命令执行结果
    #}
    function executeCMD(){
        let cmd = $("#cmd").val()
        let router = $('#routerID').text()
        console.log(router)
        $.ajax({
            type: "POST",
            url:"/execute",
            data: {router: router, command: cmd},
            success: function (data) {
                $("#detailInfo").val(data)
            },
            error: function () {
                alert("error")
            }
        })
    }

    {#
    功能：清空当前拓扑（节点和链路）
    #}
    function clearConf(){
        myDiagram.clear()
        console.log(myDiagram.model.nodeDataArray.length)
        $.ajax({
                type: "GET",
                url:"/clear",
                success: function () {
                    alert('clear success')
                },
                error: function () {
                    alert("error")
                }
            });
    }

</script>

</body>
</html>