<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" src="../static/jquery.js"></script>
    <script language="JavaScript" src="../static/go-debug.js"></script>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<style>
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

</style>

<body>
    <div id="div1">
        <div id="div2" class="part">
            <form id="form" method="post">
                <input id="file" type="file" name="file">
                <input id="upload" type="button" onclick="send()" value="提交配置文件">
            </form>
            <input  id="clear" type="button" onclick="clearConf()" value="清空">
            <input  id="save" type="button" onclick="saveConf()" value="保存">
             <input id="test" type="button" onclick="sendTestFile()" value="提交校验文件">
            <textarea id="fileContent"></textarea>
        </div>

        <div id="div3" class="part"></div>

        <div id="div4" class="part">
            <div id="divRouterInfo">
                <h1 id="routerID">Router</h1>
                <table id="routerInfo" border="1">
                    <tr>
                        <th>PORT</th>
                        <th>IP</th>
                        <th>STATUS</th>
                    </tr>
                    <tr>
                        <td>f0/0</td>
                        <td>172.16.1.1</td>
                        <td>up</td>
                    </tr>
                    <tr>
                        <td>f0/0</td>
                        <td>unassigned</td>
                        <td>down</td>
                    </tr>
                </table>
            </div>

            <div id="divInteract">
                <h2>命令交互</h2>
                <input id="cmd" name="command">
                <input id="execute" type="button" onclick="executeCMD()" value="执行">
            </div>

            <div id="divDetailInfo">
                <textarea id="detailInfo"></textarea>
            </div>
        </div>
    </div>

    <!-- 模态框 -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">x</span>
          <h2 id="RouterName">RouterA</h2>
        </div>
        <div class="modal-body">
            <span>portName:</span><input id="portName" type="text"><br>
            <span>portIP:</span><input id="portIP" type="text"><br>
            <span>portStatus:</span>
            <select id="portStatus">
                <option>up</option>
                <option>down</option>
            </select><br>
            <button id="okBtn" onclick="okFunction()">确认</button>
            <button id="noBtn" onclick="noFunction()">取消</button>
        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>


<script type="text/javascript">
    // 初始化网络拓扑结构，包含：定义节点模板，节点的数据结构
    var GO = go.GraphObject.make;
    var myDiagram =
        GO(go.Diagram, "div3",
          {
            "undoManager.isEnabled": true // enable Ctrl-Z to undo and Ctrl-Y to redo
        });
    // define a simple Node template
    myDiagram.nodeTemplate =
        GO(go.Node, "Vertical",
          // the entire node will have a light-blue background
          { background: "#44CCFF" },
          GO(go.Picture,
            // Pictures should normally have an explicit width and height.
            // This picture has a red background, only visible when there is no source set
            // or when the image is partially transparent.
            { margin: 2, width: 50, height: 50},
            // Picture.source is data bound to the "source" attribute of the model data
            new go.Binding("source")),
          GO(go.TextBlock,
            "Default Text",  // the initial value for TextBlock.text
            // some room around the text, a larger font, and a white stroke:
            { margin: 2, stroke: "white", font: "bold 16px sans-serif" },
            // TextBlock.text is data bound to the "name" attribute of the model data
            new go.Binding("text", "name"))
         );
    var model = GO(go.GraphLinksModel);
    model.nodeDataArray = [
        {#{ key: "RouterA", name: "RouterA", ports: [], source: "../static/router.png" },#}
        {#{ key: "RouterB", name: "RouterB", ports: [], source: "../static/router.png" },#}
        {#{ key: "RouterC", name: "RouterC", ports: [], source: "../static/router.png" }#}
    ];
    myDiagram.model = model;

    myDiagram.addDiagramListener("ObjectSingleClicked",
        function (e){
            console.log("clickEvent triggered")
            var part = e.subject.part;
            console.log(part.data)
            // 更新div4中的信息
            if(part instanceof go.Node){
                // 更新路由器信息
                console.log('node clicked')
                updateNodeDisplayInfo(part.data)
            }else if(part instanceof go.Link){
                // 更新链路信息
                console.log('link clicked')
                updateLinkDisplayInfo(part.data)
            }
        }
    )

    // 点击任一路由器后，展示路由器的所有端口信息
    function updateNodeDisplayInfo(data){
        let str = "<tr><th>PORT</th><th>IP</th><th>STATUS</th><th>OPERATE</th></tr>";
        let routerName = data.name;
        let ports = data.ports;
        for(let i = 0; i < ports.length; i++){
            let trID = 'tr' + i
            let portName = ports[i].name;
            let portIP = ports[i].ip;
            let portStatus = ports[i].status;
            {# 注意confPortBtn中onclick传参的关键是转义字符的使用 #}
            str += "<tr class="+ trID + ">"
                + "<td class='portName'>" + portName + "</td>"
                + "<td class='portIP'>" + portIP + "</td>"
                + "<td class='portStatus'>" + portStatus + "</td>"
                + "<td><button class='confPortBtn' onclick='confPort(\"" + trID + "\")'>配置</button></td>"
                + "</tr>"
        }
        $("#routerID").html(routerName)
        $("#routerInfo").html(str);
    }

    // 路由端口配置按钮，点击后弹出模态框
    function confPort(trID){
        var id = 'tr.' + trID;
        var router = $("#routerID").text()
        $("#RouterName").text(router)
        var portName = $(id).find(".portName").text();
        var portIP = $(id).find(".portIP").text();
        var portStatus = $(id).find(".portStatus").text();
        $("#portName").val(portName);
        $("#portIP").val(portIP);
        if(portStatus=='up'){
            $('#portStatus').get(0).selectedIndex=0;
        }else{
            $('#portStatus').get(0).selectedIndex=1;
        }

        modal.style.display = "block";
    }

    // 模态框设置
    var modal = document.getElementById('myModal');
    var span = document.getElementsByClassName("close")[0];
    var okBtn = $("#okBtn");
    var noBtn = $("#noBtn");

    // 模态框关闭按钮 <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // 模态框确认按钮
    function okFunction(){
        var router = $("#routerID").text();
        var portName = $("#portName").val();
        var portIP = $("#portIP").val();
        var portStatus = $("#portStatus option:selected").text();
        var index = $("#portStatus").prop('selectedIndex');
        console.log(router);
        console.log(portName);
        console.log(portIP);
        console.log(portStatus);
        console.log(index);

        $.ajax({
                type: "POST",
                url:"/update",
                data: {router: router, portName: portName, portIP: portIP, status: portStatus},
                success: function (data) {
                    // 修改前端中路由器端口信息
                    var adata = myDiagram.model.findNodeDataForKey(data['router']);
                    for(let i = 0; i < adata.ports.length; i++){
                        console.log(adata.ports[i].name)
                        if(adata.ports[i].name == portName){
                            adata.ports[i].ip = data['portIP'];
                            adata.ports[i].net = data['portNet'];
                            adata.ports[i].status = data['status'];
                            break;
                        }
                    }
                    alert('success')
                },
                error: function () {
                    alert("error")
                }
            });
    }

    // 模态框取消按钮
    function noFunction() {
        modal.style.display = "none";
    }

    // 点击模态框以外区域，关闭模态框
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }



    // 点击任一链路后，展示链路信息
    function updateLinkDisplayInfo(data){
        let str = "<tr><th>Router</th><th>PORT</th><th>IP</th></tr>";
        let fromInfo = data.fromInfo;
        let toInfo = data.toInfo;

        str += "<tr>"
            + "<td>" + fromInfo.name + "</td>"
            + "<td>" + fromInfo.port + "</td>"
            + "<td>" + fromInfo.portIP + "</td>"
            + "</tr>"
            + "<tr>"
            + "<td>" + toInfo.name + "</td>"
            + "<td>" + toInfo.port + "</td>"
            + "<td>" + toInfo.portIP + "</td>"
            + "</tr>"

        $("#routerInfo").html(str);
    }


    // 从绝对路径中提取文件名
    function getFileName(o){
        var pos = o.lastIndexOf("\\");
        return o.substring(pos+1);
    }

    {#
    功能：获取配置文件内容
    发送：文件名
    接受：配置文件内容
    #}
    document.getElementById("file").addEventListener("change", function (){
        var file = $("#file").val();
        let fileName = getFileName(file);
        console.log(file);
        console.log(fileName);
        $.ajax({
                type: "POST",
                url:"/file",
                data: {fileName: fileName},
                success: function (data) {
                    $("#fileContent").val(data)
                },
                error: function () {
                    alert("error")
                }
            });
    })

    {#
    功能：根据修改后的文件内容搭建网络拓扑
    发送：修改后的配置文件内容
    接受：在div2中搭建网络拓扑
    #}
    function send(){
        let content = $("#fileContent").val()
        console.log(content)
        $.ajax({
                type: "POST",
                url:"/send",
                data: {content: content},
                success: function (data) {
                    console.log(typeof data)
                    console.log(data)
                    // 添加路由器
                    for (let i = 0; i < data.routerInfo.length; i++){
                        let info = data.routerInfo[i];
                        let name = info.name;
                        let ports = info.ports;
                        newData = {key: name, name: name, ports: ports, source: "../static/router.png"}
                        myDiagram.model.addNodeData(newData)
                    }

                    // 添加路由器之间的连线
                    for (let i = 0; i < data.connection.length; i++){
                        let info = data.connection[i];
                        let fromInfo = info["from"]
                        let toInfo = info["to"]
                        myDiagram.model.addLinkData({"from": fromInfo["name"], "to": toInfo["name"], "fromInfo": fromInfo, "toInfo": toInfo});
                    }
                },
                error: function () {
                    alert("error")
                }
            });
    }

    // 发送给后端“拓扑校验文件”
    function sendTestFile(){
        let content = $("#fileContent").val()
        console.log(content)
        $.ajax({
                type: "POST",
                url:"/test",
                data: {content: content},
                success: function () {
                    console.log('success')
                },
                error: function () {
                    alert("error")
                }
            });
    }

    {#
    功能：将前端的命令发送给后端执行
    发送：命令
    接受：命令执行结果
    #}
    function executeCMD(){
        let cmd = $("#cmd").val()
        let router = $('#routerID').text()
        console.log(router)
        $.ajax({
            type: "POST",
            url:"/execute",
            data: {router: router, command: cmd},
            success: function (data) {
                $("#detailInfo").val(data)
            },
            error: function () {
                alert("error")
            }
        })
    }

    // 功能：清空当前拓扑（节点和链路）
    function clearConf(){
        $.ajax({
                type: "GET",
                url:"/clear",
                success: function () {
                    alert('clear success')
                    myDiagram.clear()
                    console.log(myDiagram.model.nodeDataArray.length)
                },
                error: function () {
                    alert("error")
                }
            });
    }

</script>

</body>
</html>