<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" src="../static/jquery.js"></script>
</head>
<body>
    <div>
        <button id="openBtn" onclick="openPage()">open</button>
    </div>

    <div>
        <input type="button" value="alert" onclick="alert('你好！')" />
        <input type="button" value="confirm" onclick="confirmDialog()" />
        <input type="button" value="prompt" onclick="promptDialog()" />
    </div>

<script>
    function openPage() {
        window.open ("subpage.html", "newwindow", "height=400, width=400, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
    }

    function confirmDialog(){
        if(confirm("还要继续吗？")){
            alert("继续");
        }else{
            alert("再见");
        }
    }

    function promptDialog(){
        var name = prompt("你的名字是：");
        var age = prompt("age");
        alert("你好，" + name);
    }
</script>
</body>
</html>